@using System.Web.Optimization

<!DOCTYPE html>

<html>
    <head>
        <title>Test Canvas site</title>

        @Styles.Render("~/Styles")
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/Scripts/Libs")
        @Scripts.Render("~/Scripts/Game")
    </body>
</html>